
.NavBar{
    display: flex;
    flex-direction: row;
    background-color: transparent;
   
}
.NavBarButton{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 1em;
    color: white;
}

.NavBarButtonActive {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 1em;

    background-color: rgba(0, 0, 0, 0.6); /* semi transparent */
    backdrop-filter: blur(6px);          /* blur effect */
    -webkit-backdrop-filter: blur(6px);  /* safari support */

    color: var(--pinkcolor);
    transition: all 0.4s ease-in-out;
}


.NavBarButton:hover{
    color: var(--pinkcolor);
}